<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
 
<configuration>
    <typeAliases>
    	<typeAlias alias="news" type="com.example.news.dto.News" />
    </typeAliases>
    
    <mappers>
       <mapper resource="mybatis/mapper/news.xml"/>
    </mappers>
</configuration>
